@model IEnumerable<Student>
@{
    ViewData["Title"] = "getAllStudent";
    SelectList studentSelect = new SelectList(ViewBag.students, "StudentId", "StudentId");
}





<h2 class="text-center fw-bold mt-5 mb-5">Show Students Grades in Exams</h2>


<div class="course text-center">


    <select id="studentSelect" onchange="loadReport(this.value)">
        <option>Select Student</option>
        @foreach (var item in studentSelect)
        {

            <option value="@item.Value">@item.Value</option>
        }
    </select>
</div>
<div id="div1"></div>

<div class="text-center mt-3">
    <a asp-action="Index" class="btn btn-info">Back to List</a>
</div>



<script>
    function loadReport(StudentId) {
        $("#div1").load("/Report/Reports2?StudentId=" + StudentId);
    }
</script>