@model IEnumerable<Exam>
@{
    ViewData["Title"] = "Reports2";
    Layout = null;
}



<table class="table table-bordered mt-5 report2">
    <tr>
    
        <th>Student Course Name</th>
        <th>Student Grade</th>


    </tr>
    @foreach (var item in Model)
    {
        <tr>
            
            <td>
                @item.Course.CourseName
            </td>
            <td>
                @item.StudentGrade %
            </td>
        </tr>
    }
</table>
