@model Admin
@{
    ViewData["Title"] = "profile";
}


<div class="container">
    <div class="profile-container">
        <h2 class="profile-heading">Your Profile</h2>
        <div class="profile-info">
            <p><strong>ID:</strong> @Model.User.Name</p>
            <p><strong>Branch:</strong> @Model.AdminId</p>
          
        </div>
       
    </div>
</div>


