
@model Instructor
@{
    ViewData["Title"] = "ShowInstructors";
    SelectList instSelect = new SelectList(ViewBag.instructors, "InstructorId", "InstructorId");
}

<h2 class="text-center fw-bold mt-5 mb-5">Add Instructor to Department </h2>

<div class="course text-center">
    <form method="post">
        <select id="instSelect" asp-items="instSelect" name="InstructorId">
            <option>Select Instructor</option>
        </select>
        <input type="submit" class="btn btn-info" value="Add" />
       
    </form>
</div>