


@model Course
@{
    ViewData["Title"] = "ShowCoursesInDept";
    SelectList courseSelect = new SelectList(ViewBag.courses, "CourseId", "CourseName");
}

<h2 class="text-center fw-bold mt-5 mb-5">Remove Instructor from course </h2>

<div class="course text-center">

    <form method="post">
        <select id="courseSelect" asp-items="courseSelect" name="CourseId">
            <option>Select Course</option>
        </select>
        <input type="submit" class="btn btn-info" value="Remove" />
        <input type="hidden" name="@ViewBag.courseId" />
    </form>
</div>