@model Student
@{
    ViewData["Title"] = "getStudentToCourse";
    SelectList studentSelect = new SelectList(ViewBag.Students, "StudentId", "StudentId");
}




<h2 class="text-center fw-bold mt-5 mb-5">Add student to course </h2>


<div class="course text-center">

    <form  method="post">
        <select id="studentSelect" asp-items="studentSelect" name="StudentId">
        <option>Select Student</option>
        </select>
        <input type="submit" class="btn btn-info" value="Add" />
    </form>
</div>


