
@{
    ViewData["Title"] = "ExamEnded";
}

<h1>correct the Exam and show the grad</h1>
 <a asp-action="CorrectExam" asp-controller="student" asp-route-examId="@ViewBag.examId" class="btn btn-info">correct Exam</a>
