

    <div class="container">
        <div class="profile-container">
            <h2 class="profile-heading">Your Profile</h2>
            <div class="profile-info">
                <p><strong>ID:</strong> @Model.StudentId</p>
                <p><strong>Branch:</strong> @Model.Branch.BranchName</p>
                <p><strong>Department:</strong> @Model.Department.DepartmentName</p>
            </div>
            <div class="text-center">
                <a btn btn-info asp-controller="Student" asp-action="ShowCourses" asp-route-id="@Model.StudentId" class="btn btn-custom  text-white">View Your Courses</a>
            </div>
        </div>
    </div>

