
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Examination_System</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Examination_System.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />

</head>
<body>
    
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><h3>EXAM</h3></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    @if (User.IsInRole("Admins") || User.IsInRole("Instructors"))
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Report" asp-action="Index">Reports</a>
                        </li>


                    }
                    @if (User.IsInRole("Admins"))
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Admin
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item text-dark" asp-area="" asp-controller="Admin" asp-action="Index">Profile</a>
                                </li>
                                <li>
                                    <a class="dropdown-item text-dark" asp-area="" asp-controller="Admin" asp-action="ShowAdmins">Admins</a>
                                </li>
                                <li>
                                    <a class="dropdown-item text-dark" asp-area="" asp-controller="Admin" asp-action="ShowBranches">Branches</a>
                                </li>
                                <li>
                                    <a class="dropdown-item text-dark" asp-area="" asp-controller="Admin" asp-action="ShowCourses">Courses</a>
                                </li>
                                <li>
                                    <a class="dropdown-item text-dark" asp-area="" asp-controller="Admin" asp-action="ShowDepartment">Departments</a>
                                </li>
                                <li>
                                    <a class="dropdown-item text-dark" asp-area="" asp-controller="Admin" asp-action="ShowInstructor">Instructors</a>
                                </li>
                                <li>
                                    <a class="dropdown-item text-dark" asp-area="" asp-controller="Admin" asp-action="ShowStudent">Students</a>
                                </li>


                               
                             
                            </ul>
                        </li>
                    }

                    @if (User.IsInRole("Instructors"))
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Instructor
                            </a>
                            <ul class="dropdown-menu">

                                <li>
                                    <a class="dropdown-item text-dark" asp-area="" asp-controller="Instructor" asp-action="Profile">Profile</a>
                                </li>
                                <li>
                                    <a class="dropdown-item text-dark" asp-area="" asp-controller="Instructor" asp-action="GetInstructor">Departments</a>
                                </li>
                                <li>
                                    <a class="dropdown-item text-dark" asp-area="" asp-controller="Instructor" asp-action="Index">Courses</a>
                                </li>
                            
                                
                              

                            </ul>
                        </li>
                    }


                    @if (User.IsInRole("Students"))
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Student
                            </a>
                            <ul class="dropdown-menu">

                                <li>
                                    <a class="dropdown-item text-dark" asp-area="" asp-controller="Student" asp-action="Index">Profile</a>
                                </li>


                            </ul>
                        </li>
                    }



                    <partial name="_loginPartial" />

                </ul>

            </div>
        </div>
    </nav>






    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
        <div class="container">
            <div class="footer-content">
                <div class="footer-left">
                    <h3> EXAM</h3>
                    <div class="footer-links">
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="footer-right">
                    <div class="footer-social">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                    <p class="footer-text">© 2024 Your Examination System. All rights reserved.</p>
                </div>
            </div>
            <div class="footer-divider"></div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
